.avatar__form{
    background-color: white;
    width: 82%;
    height: 272px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;}


    @media screen and (max-width: 1279px) {
        .avatar__form {
          width: 238px;
          height: 322px;
          margin: 0;
          display: flex;
          justify-content: space-evenly;
        }
      }