.avatar__container{
    background-color: #fff;
    width: 430px;
    height: 272px;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .avatar__container {
      width: 238px;
      height: 322px;
      padding: 0px 22px 0px 22px;
    }
  }